<% include partes/_header %>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="/test">Incio</a></li>
							<li class="active">Teclados</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- STORE -->
					<div id="store" class="col-md-12">
						<!-- store products -->
						<div class="row">
							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<!-- product -->
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrMjHXYAA7HKm?format=jpg&name=360x360" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">EVA-01</a></h3>
										<h4 class="product-price">120€<del class="product-old-price">170€</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div> 
									</div>
									<div class="add-to-cart">
										<a href="/keyboard1" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
								<!-- /product -->
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrK5KXYAE7XzX?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">70s keyboard</a></h3>
										<h4 class="product-price">70€ </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard2" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrK5dXUAIsGIM?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">Neo white</a></h3>
										<h4 class="product-price">130€</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard3" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrMjaXYAIHSSF?format=png&name=240x240" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">Jadeite</a></h3>
										<h4 class="product-price">90€</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard4" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrMjjWgAY-FdW?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">Red Kanji</a></h3>
										<h4 class="product-price">120€</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard5" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrrGrXUAQEAAQ?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">Oro rosa</a></h3>
										<h4 class="product-price">100€</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard6" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrrHKXAAEXB29?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">Pastel</a></h3>
										<h4 class="product-price">60€</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard7" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrrGRWgAkURQB?format=jpg&name=360x360" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">Neon</a></h3>
										<h4 class="product-price">85€</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard8" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrMi2XcAAJ5aI?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Teclados</p>
										<h3 class="product-name"><a href="#">Minimalist</a></h3>
										<h4 class="product-price">50€</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keyboard9" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->
						</div>
						<!-- /store products -->

					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- FOOTER -->
		<footer id="footer">

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>