<% include partes/_header %>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="/test" >Incio</a></li>
							<li class="active">Keycaps</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- STORE -->
					<div id="store" class="col-md-12">
						<!-- store products -->
						<div class="row">
							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<!-- product -->
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrGm7XIAI9RIh?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">Blue Pink</a></h3>
										<h4 class="product-price">130€</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div> 
									</div>
									<div class="add-to-cart">
										<a href="/keycap1" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
								<!-- /product -->
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrGnOXAAAYFTL?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">Boba Fett</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap2" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrGncXMAAD-k-?format=jpg&name=medium" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">BRW</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap3" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrIZcWgAYeNPV?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">Creamy</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap4" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrIZwXEAQASh-?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">Cyber</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap5" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrIaFXIAE1RFT?format=jpg&name=900x900" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">Grey</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap6" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrIaSXEAAemuy?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">Imperial</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap7" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrJoxXYAAGx2B?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">Smooth Grey</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap8" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="https://pbs.twimg.com/media/EuLrJo9WYAEaLXe?format=jpg&name=large" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Keycaps</p>
										<h3 class="product-name"><a href="#">White Cyan</a></h3>
										<h4 class="product-price">130€  </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/keycap9" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</a>
									</div>
								</div>
							</div>
							<!-- /product -->
						</div>
						<!-- /store products -->

					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- FOOTER -->
		<footer id="footer">

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
